extends layout

block content
  .auth-container
    .login-form
      h1 Login
      if error
        .error-message= error
      
      form(method="POST", action="/login")
        .form-group
          label(for="username") Username:
          input(type="text", id="username", name="username", required)
        
        .form-group
          label(for="password") Password:
          input(type="password", id="password", name="password", required)
        
        button(type="submit") Login
